# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/

# PyInstaller
build/
dist/
*.spec

# Local config
.tool-versions

# Coverage
/htmlcov/
.coverage

# IDE
*.idea/
*.iml
