[MASTER]
ignore=.git

[MESSAGES CONTROL]
# Enable all messages by default, then disable specific ones if necessary.
disable=

[REPORTS]
# Set the report format to colorized.
output-format=colorized

[BASIC]
good-names=i,j,k,ex,Run,_,name,args,argv

[FORMAT]
max-line-length=120

[DESIGN]
max-args=5

[TYPECHECK]
ignored-modules=importlib.metadata
